.b-day-gives.c-container
    .c-title.b-day-gives__title
        h2 А еще <div class="accient-title">вы получите</div>
    .b-day-gives__cards
        .b-day-gives__card.b-day-gives__card--1
            .b-day-gives__card-title
                span Персональный <br>менеджер
            .b-day-gives__card-image
                img(src="./img/b-day-gives__card-image-1.webp", alt="alt")
            .b-day-gives__card-bg
                img(src="./img/b-day-gives__card-bg-1.svg", alt="alt")
        .b-day-gives__card.b-day-gives__card--2
            .b-day-gives__card-title
                span Свободный доступ к аттракционам на весь день
            .b-day-gives__card-image
                img(src="./img/b-day-gives__card-image-2.webp", alt="alt")
            .b-day-gives__card-bg
                img(src="./img/b-day-gives__card-bg-2.svg", alt="alt")
        .b-day-gives__card.b-day-gives__card--3
            .b-day-gives__card-title
                span Бесплатный вход в парк для взрослых
            .b-day-gives__card-image
                img(src="./img/b-day-gives__card-image-3.webp", alt="alt")
            .b-day-gives__card-bg
                img(src="./img/b-day-gives__card-bg-3.svg", alt="alt")