.b-day-form
    .b-day-form__image
        img(src="./img/b-day-form.webp", alt="")
    .b-day-form__form.c-container
        .b-day-form__form-title
            h2 Закажите звонок <br>банкетного менеджера
        .b-day-form__form-description
            span Менеджер свяжется с вами в течение 1 часа
        form.b-day-form__form-form
            input(type="text", placeholder="Фамилия и имя", name="name")
            input(type="text", placeholder="+ 7 900 000 00-00", name="phone")
            input(type="text", placeholder="Комментарий", name="comment")
            button.button.button--solid.button--large Отправить