.b-day-park.c-container
    .c-title.b-day-park__title
        h2 Парк <div class="accient-title">развлечений</div>
        .c-title__arrows
            button.c-title__arrow.c-title__arrow--prev
                +icon("slide-arrow")
            button.c-title__arrow.c-title__arrow--next
                +icon("slide-arrow")
    .swiper.b-day-park__slide
        .swiper-wrapper
            .swiper-slide
                .b-day-park__card
                    .b-day-park__card-title
                        span С утра до вечера
                    .b-day-park__card-description
                        span Парк развлечений в вашем распоряжении в течение всего дня с 10:00 до 21:00 без ограничений!
                    .b-day-park__card-images
                        .b-day-park__card-image.b-day-park__card-image-1
                            img(src="./img/b-day-park__card-image-1.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-2
                            img(src="./img/b-day-park__card-image-2.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-3
                            img(src="./img/b-day-park__card-image-3.webp", alt="alt")
                    .b-day-park__card-bg
                        img(src="./img/b-day-park__card-bg-1.svg", alt="alt")
            .swiper-slide
                .b-day-park__card
                    .b-day-park__card-title
                        span Игры и движение
                    .b-day-park__card-description
                        span Более 15 аттракционов в парке: батуты, горки, лабиринты, карусели, малышковая зона, тюбинг, аэрохоккей, баскетбол, футбол и многое другое.
                    .b-day-park__card-images
                        .b-day-park__card-image.b-day-park__card-image-1
                            img(src="./img/b-day-park__card-image-1.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-2
                            img(src="./img/b-day-park__card-image-2.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-3
                            img(src="./img/b-day-park__card-image-3.webp", alt="alt")
                    .b-day-park__card-bg
                        img(src="./img/b-day-park__card-bg-2.svg", alt="alt")
            .swiper-slide
                .b-day-park__card
                    .b-day-park__card-title
                        span Без забот
                    .b-day-park__card-description
                        span Вы можете начать отдыхать ещё до начала праздника или остаться после мероприятия, чтобы лучше исследовать каждую зону парка.
                    .b-day-park__card-images
                        .b-day-park__card-image.b-day-park__card-image-1
                            img(src="./img/b-day-park__card-image-1.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-2
                            img(src="./img/b-day-park__card-image-2.webp", alt="alt")
                        .b-day-park__card-image.b-day-park__card-image-3
                            img(src="./img/b-day-park__card-image-3.webp", alt="alt")
                    .b-day-park__card-bg
                        img(src="./img/b-day-park__card-bg-3.svg", alt="alt")