.main-prices.c-container
    .c-title.main-prices__title
        h2 <div class="accient-title">Готовые</div> предложения
    .main-prices__cards
        .main-prices__card
            .main-prices__card-top
                .main-prices__card-title
                    span Стандарт
                .main-prices__card-description
                    ul
                        li — игровая на весь день (5 билетов)
                        li — 2 часа бронирования банкетной комнаты
                        li — на выбор: аниматор 1 герой или мастер-класс 5 шт или аквагрим 5 шт
                        li — еда + напитки
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 11 000 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 12 250 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет
        .main-prices__card.main-prices__card--center
            .main-prices__card-image
                img(src="./img/main-prices__card.svg", alt="alt")
            .main-prices__card-top
                .main-prices__card-title
                    span Макси
                .main-prices__card-description
                    ul
                        li — 12 билетов в игровую на весь день
                        li — 3 часа бронирования банкетной комнаты
                        li — одна позиция на выбор: аниматоры 2 героя + бумажное шоу или мастер-класс 12 шт или аквагрим 12 шт
                        li — 12 шт блеск-тату
                        li — еда + напитки
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 36 200 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 39 200 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет
        .main-prices__card
            .main-prices__card-top
                .main-prices__card-title
                    span Оптимум
                .main-prices__card-description
                    ul
                        li — 8 билетов в игровую на весь день
                        li — 3 часа бронирования банкетной комнаты
                        li — на выбор: аниматоры 2 героя или мастер-класс 8 шт или аквагрим 8 шт 
                        li — 8 шт блеск-тату
                        li — еда + напитки
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 21 100 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 23 100 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет