.b-day-banner
    .b-day-banner__image
        img(src="./img/b-day-banner.webp", alt="")
    .c-container
        .b-day-banner__content
            .b-day-banner__content-wrap
                .b-day-banner__under-title
                    span Краски Детства — всё для лучшего праздника в одном месте!
                .b-day-banner__wrap-title
                    .b-day-banner__title
                        h1 Готовый <br>Праздник
                    .b-day-banner__price
                        span от 11 000 ₽
            .b-day-banner__button
                a(href="#").button.button--solid.button--large Узнать подробнее