.b-day-anim.c-container
    .c-title.b-day-anim__title
        h2 Аниматоры
    .c-description
        p В нашем каталоге более 30 популярных героев, квестов и шоу-программ. А так же замечательные мастер классы по изготовлению пиццы, бургера, лимонада, слайма, шоколадного попита, росписи футбол.
        p Любимые персонажи вашего ребёнка не только проведут увлекательную игровую программу, но и вынесут торт и поздравят именинника.
    .swiper.b-day-anim__slider
        .swiper-wrapper
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-1.webp", alt="alt")
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-2.webp", alt="alt")
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-3.webp", alt="alt")
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-1.webp", alt="alt")
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-2.webp", alt="alt")
            .swiper-slide
                .b-day-anim__card
                    img(src="./img/b-day-anim__card-3.webp", alt="alt")