.b-day-tema-room
    .c-container
        .c-title.b-day-tema-room__title
            h2 Тематические комнаты
        .b-day-tema-room__description
            p Две потрясающие комнаты для празднования Дня Рождения! Пряничный домик и Джунгли ждут вас! Тематические комнаты рассчитаны до 30 человек, оснащены музыкальным и световым оборудованием, сплит системой, а также грамотной сервировкой.
        .b-day-tema-room__images
            .b-day-tema-room__image
                img(src="./img/b-day-tema-room__image-1.webp", alt="alt")
            .b-day-tema-room__image
                img(src="./img/b-day-tema-room__image-2.webp", alt="alt")
            .b-day-tema-room__image
                img(src="./img/b-day-tema-room__image-3.webp", alt="alt")
            .b-day-tema-room__image
                img(src="./img/b-day-tema-room__image-4.webp", alt="alt")
    .b-day-tema-room__bg
        img(src="./img/b-day-tema-room.svg", alt="alt")
    .b-day-tema-room__bg-mobile
        img(src="./img/b-day-tema-room-mobile.svg", alt="alt")