.b-day-uslugi.c-container
    .c-title.b-day-uslugi__title
        h2 Услуги
    .c-description
        p Добавьте красок в ваш праздник, и он запомнится надолго! Наш бьюти уголок работает для вас с 10–00 до 21–00.
        p Наши художники могут выполнить аквагрим в виде одного небольшого рисунка, рисунка на пол-лица или полноценного образа.
        p Брейдеры смогут заплести вам такие косы, что все будут вам завидовать
        p Мы проверили: аквагрим радует не только детей, но и родителей. Наш аквагрим безопасен для детей, так как гипоаллергенный.
        p Память о лучших моментов праздника останется надолго с вами, ведь готовый фото — и видеоматериал можно получить на электронную почту, оформить в виде печатных снимков под рамку или сделать фотомагниты прямо в парке.
    .b-day-uslugi__arrows
        .c-title__arrows
            button.c-title__arrow.c-title__arrow--prev
                +icon("slide-arrow")
            button.c-title__arrow.c-title__arrow--next
                +icon("slide-arrow")
    .swiper.b-day-uslugi__slide
        .swiper-wrapper
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--1
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-1.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-1.webp", alt="")
                    .main-uslugi__card-name
                        span Аквагрим
                    .main-uslugi__card-description
                        span Красочный аквагрим для детей — безопасные краски, быстрые рисунки и яркие образы для праздника
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--2
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-2.webp", alt="")
                    .main-uslugi__card-name
                        span Бьюти зона
                    .main-uslugi__card-description
                        span Красивые причёски, яркие косички и лёгкий детский макияж — стильный образ для вашего ребёнка.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--3
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-3.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-3.webp", alt="")
                    .main-uslugi__card-name
                        span Мастер-классы
                    .main-uslugi__card-description
                        span Творческие и увлекательные занятия, где дети создают поделки, рисунки и сувениры своими руками.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--4
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-4.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-4.webp", alt="")
                    .main-uslugi__card-name
                        span Фотограф
                    .main-uslugi__card-description
                        span Живые и яркие фотографии, фиксирующие эмоции и атмосферу детского праздника.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--5
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-5.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-5.webp", alt="")
                    .main-uslugi__card-name
                        span Видеограф
                    .main-uslugi__card-description
                        span Профессиональная видеосъёмка, чтобы сохранить лучшие моменты праздника в качественном ролике.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--6
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-6.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-6.webp", alt="")
                    .main-uslugi__card-name
                        span Аниматоры
                    .main-uslugi__card-description
                        span Весёлые ведущие с интерактивами, играми и мини-шоу, которые увлекут детей любого возраста.
        .swiper-pagination
    .b-day-uslugi__personages
        img(src="./img/b-day-uslugi__personages.webp", alt="alt")
    .b-day-uslugi__image
        img(src="./img/b-day-uslugi.svg", alt="alt")
    .b-day-uslugi__image-mobile
        img(src="./img/main-uslugi-mobile.png", alt="")