.faq.c-container
    .c-title.faq__title
        h2 Часто задаваемые <div class="accient-title">вопросы</div>
    .faq__blocks
        .faq__block
            .faq__block-title
                span Подойдёт ли парк для детей разного возраста?
                button.faq__block-icon
                    +icon("faq-icon")
            .faq__block-content
                span Да, в парке есть аттракционы и игровые зоны как для малышей, так и для детей постарше — каждый найдёт занятие по душе.
        .faq__block
            .faq__block-title
                span С какого возраста можно посещать парк?
                button.faq__block-icon
                    +icon("faq-icon")
            .faq__block-content
                span Да, в парке есть аттракционы и игровые зоны как для малышей, так и для детей постарше — каждый найдёт занятие по душе.
        .faq__block
            .faq__block-title
                span Можно ли приходить всей семьёй?
                button.faq__block-icon
                    +icon("faq-icon")
            .faq__block-content
                span Да, в парке есть аттракционы и игровые зоны как для малышей, так и для детей постарше — каждый найдёт занятие по душе.
        .faq__block
            .faq__block-title
                span Есть ли в парке зоны отдыха для родителей?
                button.faq__block-icon
                    +icon("faq-icon")
            .faq__block-content
                span Да, в парке есть аттракционы и игровые зоны как для малышей, так и для детей постарше — каждый найдёт занятие по душе.