.main-prices.c-container
    .c-title.main-prices__title
        h2 <div class="accient-title">Цены</div> на посещение парка
    .main-prices__cards
        .main-prices__card
            .main-prices__card-top
                .main-prices__card-title
                    span Многодетные семьи
                .main-prices__card-description
                    span Поддержка многодетных семей — скидки на вход в парк с подтверждающими документами
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 600 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 800 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет
        .main-prices__card.main-prices__card--center
            .main-prices__card-image
                img(src="./img/main-prices__card.svg", alt="alt")
            .main-prices__card-top
                .main-prices__card-title
                    span Входной билет
                .main-prices__card-description
                    span Базовый билет на вход в парк. Для детей и взрослых при предъявлении документов
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 650 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 900 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет
        .main-prices__card
            .main-prices__card-top
                .main-prices__card-title
                    span Билет именинника
                .main-prices__card-description
                    span Праздничный билет для именинников. Получите скидку на вход в день рождения
            .main-prices__card-prices
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Будние дни
                    .main-prices__card-price-value
                        span 500 ₽
                .main-prices__card-price
                    .main-prices__card-price-name
                        span Выходные дни
                    .main-prices__card-price-value
                        span 750 ₽
            .main-prices__card-button
                button.button.button--outline.button--large Купить билет
    .main-prices__button
        a(href="#").button.button--solid.button--large Посмотреть все