.main-reviews.c-container
  .c-title.main-reviews__title
    h2 Отзывы
  .main-reviews__widget
    div(style="display:flex; justify-content:center; margin-top:20px; border-radius:20px;")
      iframe(
        title="Виджет с отзывами «Карусель» от MyReviews"
        style="width:100%; height:100%; border:none; outline:none; padding:0; margin:0;"
        id="myReviews__block-widget"
      )
    script(src="https://myreviews.dev/widget/dist/index.js" defer)
    script.
      (function () {
        var myReviewsInit = function () {
          new window.myReviews.BlockWidget({
            uuid: "3ec8dc9a-2d19-4bdb-b649-23e488790896",
            name: "g20210444",
            additionalFrame: "none",
            lang: "ru",
            widgetId: "1"
          }).init();
        };

        if (document.readyState === "loading") {
          document.addEventListener('DOMContentLoaded', function () {
            myReviewsInit();
          });
        } else {
          myReviewsInit();
        }
      })();
  .main-reviews__image
    img(src="./img/reviews.svg", alt="")
  .main-reviews__image-mobile
    img(src="./img/reviews-mobile.svg", alt="")