.main-bday
    .main-bday__background
        img(src="./img/main-bday-background.webp", alt="alt")
    .main-bday__background-mobile
        img(src="./img/main-bday__mobile.png", alt="alt")
    .c-container
        .main-bday__content
            .main-bday__content-text
                .main-bday__content-title
                    h2 Лучший <br>День Рождения здесь
                .main-bday__content-description
                    p Мы полностью возьмём организацию на себя, чтобы вы провели этот день рядом с ребёнком — легко, счастливо и без лишних забот.
                .main-bday__content-button
                    a(href="#").button.button--outline.button--large Выбрать программу
            .main-bday__content-phone
                video(src="./img/main-bday__content-phone.mp4")
                button.main-bday__content-phone-play
                    +icon("play-video")