.main-banner
    .main-banner__image
        video(src="./img/main-banner.mp4", autoplay, muted, loop)
    .c-container
        .main-banner__content
            .main-banner__under-title
                span cемейный парк развлечений
            .main-banner__title
                h1
                    .main-banner__title-1 
                        .main-banner__title-content Краски
                        .main-banner__title-shadow Краски
                    .main-banner__title-2
                        .main-banner__title-content Детства
                        .main-banner__title-shadow  Детства
            .main-banner__cards
                a(href="#").main-banner__card.main-banner__card--1
                    .main-banner__card-content
                        .main-banner__card-title
                            span День рождения
                        .main-banner__card-arrow
                            +icon("diag-arrow")
                    .main-banner__card-image
                        img(src="./img/main-banner__card-image-1.png", alt="alt")
                    .main-banner__card-bg
                        img(src="./img/main-banner__card-1.svg", alt="bg")
                a(href="#").main-banner__card.main-banner__card--2
                    .main-banner__card-content
                        .main-banner__card-title
                            span Парк развлечений
                        .main-banner__card-arrow
                            +icon("diag-arrow")
                    .main-banner__card-image
                        img(src="./img/main-banner__card-image-2.png", alt="alt")
                    .main-banner__card-bg
                        img(src="./img/main-banner__card-2.svg", alt="bg")
                a(href="#").main-banner__card.main-banner__card--3
                    .main-banner__card-content
                        .main-banner__card-title
                            span Семейное кафе
                        .main-banner__card-arrow
                            +icon("diag-arrow")
                    .main-banner__card-image
                        img(src="./img/main-banner__card-image-3.png", alt="alt")
                    .main-banner__card-bg
                        img(src="./img/main-banner__card-3.svg", alt="bg")
                a(href="#").main-banner__card.main-banner__card--4
                    .main-banner__card-content
                        .main-banner__card-title
                            span Услуги и развлечения
                        .main-banner__card-arrow
                            +icon("diag-arrow")
                    .main-banner__card-image
                        img(src="./img/main-banner__card-image-4.png", alt="alt")
                    .main-banner__card-bg
                        img(src="./img/main-banner__card-4.svg", alt="bg")
                a(href="#").main-banner__card.main-banner__card--5
                    .main-banner__card-content
                        .main-banner__card-title
                            span Афиша мероприятий
                        .main-banner__card-arrow
                            +icon("diag-arrow")
                    .main-banner__card-image
                        img(src="./img/main-banner__card-image-5.png", alt="alt")
                    .main-banner__card-bg
                        img(src="./img/main-banner__card-5.svg", alt="bg")