.main-contacts.c-container
    .c-title.main-contacts__title
        h2 Контакты
    .main-contacts__info
        .main-contacts__info-address
            span Волгоград, ТРК «7 звёзд»
        .main-contacts__info-phone
            a(href="tel: +7 903 467-55-57") +7 903 467-55-57
    .main-contacts__map
        <div style="position:relative;overflow:hidden;height: 100%;"><a href="https://yandex.ru/maps/org/kraski_detstva/86481605296/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Краски детства</a><a href="https://yandex.ru/maps/38/volgograd/category/entertainment_center/184106372/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Развлекательный центр в Волгограде</a><a href="https://yandex.ru/maps/38/volgograd/category/play_room/191472689672/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Игровая комната в Волгограде</a><iframe src="https://yandex.ru/map-widget/v1/org/kraski_detstva/86481605296/?ll=44.604644%2C48.799020&z=14" width="100%" height="100%" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>