.main-uslugi.c-container
    .c-title.main-uslugi__title
        h2 Услуги
        .c-title__arrows
            button.c-title__arrow.c-title__arrow--prev
                +icon("slide-arrow")
            button.c-title__arrow.c-title__arrow--next
                +icon("slide-arrow")
    .swiper.main-uslugi__slide
        .swiper-wrapper
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--1
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-1.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-1.webp", alt="")
                    .main-uslugi__card-name
                        span Аквагрим
                    .main-uslugi__card-description
                        span Красочный аквагрим для детей — безопасные краски, быстрые рисунки и яркие образы для праздника
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--2
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-2.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-2.webp", alt="")
                    .main-uslugi__card-name
                        span Бьюти зона
                    .main-uslugi__card-description
                        span Красивые причёски, яркие косички и лёгкий детский макияж — стильный образ для вашего ребёнка.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--3
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-3.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-3.webp", alt="")
                    .main-uslugi__card-name
                        span Мастер-классы
                    .main-uslugi__card-description
                        span Творческие и увлекательные занятия, где дети создают поделки, рисунки и сувениры своими руками.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--4
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-4.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-4.webp", alt="")
                    .main-uslugi__card-name
                        span Фотограф
                    .main-uslugi__card-description
                        span Живые и яркие фотографии, фиксирующие эмоции и атмосферу детского праздника.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--5
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-5.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-5.webp", alt="")
                    .main-uslugi__card-name
                        span Видеограф
                    .main-uslugi__card-description
                        span Профессиональная видеосъёмка, чтобы сохранить лучшие моменты праздника в качественном ролике.
            .swiper-slide
                a(href="#").main-uslugi__card.main-uslugi__card--6
                    .main-uslugi__card-bg
                        img(src="./img/main-uslugi__card-6.svg", alt="")
                    .main-uslugi__card-image
                        img(src="./img/main-uslugi__card-image-6.webp", alt="")
                    .main-uslugi__card-name
                        span Аниматоры
                    .main-uslugi__card-description
                        span Весёлые ведущие с интерактивами, играми и мини-шоу, которые увлекут детей любого возраста.
        .swiper-pagination
    .main-uslugi__image
        img(src="./img/main-uslugi.svg", alt="")
    .main-uslugi__image-mobile
        img(src="./img/main-uslugi-mobile.png", alt="")