.main-menu.c-container
    .c-title.main-menu__title
        h2 Меню
        .c-title__arrows
            button.c-title__arrow.c-title__arrow--prev
                +icon("slide-arrow")
            button.c-title__arrow.c-title__arrow--next
                +icon("slide-arrow")
    .main-menu__tabs
        button.main-menu__tab.main-menu__tab--active Еда
        button.main-menu__tab Десерты
        button.main-menu__tab Напитки
    .main-menu__slides
        .swiper.main-menu__slide.main-menu__slide--active
            .swiper-wrapper
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
            .swiper-pagination
        .swiper.main-menu__slide
            .swiper-wrapper
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
            .swiper-pagination
        .swiper.main-menu__slide
            .swiper-wrapper
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
                .swiper-slide
                    img(src="https://placehold.co/600x400/webp", alt="")
            .swiper-pagination