.main-park.c-container
    .c-title.main-park__title
        h2 Парк развлечений <div class="accient-title">c аттракционами</div>
    .swiper.main-park__slider
        .swiper-wrapper
            .swiper-slide
                a(href="#").main-park__card.main-park__card--1
                    .main-park__card-image
                        img(src="./img/main-park__card-image-0.png", alt="alt")
                    .main-park__card-title
                        span Городок на столбах с переходами
            .swiper-slide
                a(href="#").main-park__card.main-park__card--2
                    .main-park__card-image
                        img(src="./img/main-park__card-image-1.webp", alt="alt")
                    .main-park__card-title
                        span Бассейн с шариками и препятствиями
            .swiper-slide
                a(href="#").main-park__card.main-park__card--3
                    .main-park__card-image
                        img(src="./img/main-park__card-image-2.png", alt="alt")
                    .main-park__card-title
                        span Полоса препятствий <br>«Путь ниндзя»
            .swiper-slide
                a(href="#").main-park__card.main-park__card--4
                    .main-park__card-image
                        img(src="./img/main-park__card-image-3.png", alt="alt")
                    .main-park__card-title
                        span Тюбинговая гора с ватрушками
            .swiper-slide
                a(href="#").main-park__card.main-park__card--5
                    .main-park__card-image
                        img(src="./img/main-park__card-image-4.png", alt="alt")
                    .main-park__card-title
                        span Батутная <br>арена
            .swiper-slide
                a(href="#").main-park__card.main-park__card--6
                    .main-park__card-image
                        img(src="./img/main-park__card-image-5.png", alt="alt")
                    .main-park__card-title
                        span Футбольное <br>поле
            .swiper-slide
                a(href="#").main-park__card.main-park__card--7
                    .main-park__card-image
                        img(src="./img/main-park__card-image-6.png", alt="alt")
                    .main-park__card-title
                        span Большой <br>лабиринт
            .swiper-slide
                a(href="#").main-park__card.main-park__card--8
                    .main-park__card-image
                        img(src="./img/main-park__card-image-7.png", alt="alt")
                    .main-park__card-title
                        span Горка <br>лава
        .swiper-pagination
    .main-park__button
        a(href="#").button.button--solid.button--large Посмотреть все