.main-contacts.c-container
    .c-title.main-contacts__title
        h2 Контакты
    .main-contacts__info
        .main-contacts__info-address
            span Волгоград, ТРК «7 звёзд»
        .main-contacts__info-phone
            a(href="tel: +7 903 467-55-57") +7 903 467-55-57
    div(data-coordinates="[23.23,234.23]")#map.main-contacts__map