@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Light.ttf")
    format("truetype");
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Light.ttf") format("truetype");
  font-weight: 330;
  font-display: swap;
}

@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Regular.ttf")
    format("truetype");
  font-weight: 450;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 430;
  font-display: swap;
}

@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Medium.ttf")
    format("truetype");
  font-weight: 550;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 530;
  font-display: swap;
}

@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-SemiBold.ttf")
    format("truetype");
  font-weight: 650;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 630;
  font-display: swap;
}

@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Bold.ttf") format("truetype");
  font-weight: 750;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 730;
  font-display: swap;
}

@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Black.ttf")
    format("truetype");
  font-weight: 950;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Black.ttf") format("truetype");
  font-weight: 930;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
