.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 4.5rem;
  padding-bottom: 6.25rem;
  @include max-lg {
    padding-top: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
  &__image {
    position: absolute;
    top: -0.12rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 100vw;
    line-height: 0;
    @include max-lg {
      display: none;
    }
    &-mobile {
      display: none;
      @include max-lg {
        display: block;
        position: absolute;
        top: -4rem;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
        width: 100vw;
        height: 92%;
        line-height: 0;
        img {
          width: 100%;
          height: 124%;
        }
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 54.0625rem;
    @include max-lg {
      width: auto;
      gap: 1.45rem;
    }
  }
  &__logo {
    display: block;
    width: 22.5rem;
    height: 6.375rem;
    @include max-lg {
      width: 16.0625rem;
      height: 4.5625rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__menu {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      @include max-lg {
        gap: 0.5rem;
      }
      li {
        a {
          display: block;
          font-family: "TikTok", sans-serif;
          font-weight: 950;
          font-size: 1.25rem;
          line-height: 1.25rem;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #1d1d20;
          background-color: #98e51c;
          border-radius: 0.75rem;
          padding: 0.5rem 0.75rem;
          white-space: nowrap;
          @include max-lg {
            padding: 0.37rem 0.65rem;
            border-radius: 0.875rem;
            font-size: 0.75rem;
            line-height: 0.75rem;
            letter-spacing: -0.027em;
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    @include max-lg {
      gap: 1.5rem;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include max-lg {
      gap: 0.75rem;
    }
  }
  &__socials {
    display: flex;
    gap: 1rem;
    @include max-lg {
      gap: 0.7rem;
    }
    .c-social {
      padding: 0 0.3125rem;
      .icon {
        width: 3.375rem;
        height: 3.375rem;
        color: #98e51c;
      }
    }
  }
  &__phone {
    font-family: "TikTok", sans-serif;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 1.65rem;
    text-transform: uppercase;
    color: #fff;
    @include max-lg {
      font-size: 1.25rem;
      line-height: 1.25rem;
      letter-spacing: -0.07em;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    @include max-lg {
      gap: 0.5rem;
    }
  }
  &__link {
    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: #fff;
    @include max-lg {
      font-size: 1rem;
      line-height: 1.25rem;
      &-pr {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }
  &_ayalantonov {
    display: block;
  }
}
