.header {
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 9;
  width: 100%;
  @include max-lg {
    top: 1.5rem;
  }
  &__logo {
    width: 8.9375rem;
    line-height: 0;
    @include max-lg {
      width: 7.125rem;
    }
    img {
      width: 100%;
    }
  }
  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(23.200000762939453px);
    background: rgba(255, 255, 255, 0.74);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    width: 100%;
    @include max-lg {
      padding: 0.5rem 1rem;
    }
  }
  &__menu {
    @include max-lg {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      li {
        font-family: "TikTok", sans-serif;
        font-weight: 530;
        font-size: 1.5rem;
        line-height: 83%;
        letter-spacing: -0.04em;
        color: #1d1d20;
        a {
          &:hover {
            color: #98e51c;
          }
        }
      }
    }
  }
  &__info {
    display: flex;
    gap: 1.5rem;
    @include max-lg {
      display: none;
    }
  }
  &__phone-n-place {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }
  &__socials {
    display: flex;
    gap: 1rem;
    .c-social {
      .icon {
        width: 2rem;
        height: 2rem;
      }
      color: #1d1d20;
    }
  }
  &__phone {
    font-family: "TikTok", sans-serif;
    font-weight: 950;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff;

    display: block;
    padding: 0.375rem 0.75rem;
    border-radius: 6.25rem;
    background-color: #52ae32;
  }
  &__place {
    font-family: "TikTok", sans-serif;
    font-weight: 530;
    font-size: 1.5rem;
    line-height: 1.4625rem;
    letter-spacing: -0.04em;
    color: #1d1d20;
  }
  &__burger {
    display: none;
    @include max-lg {
      display: block;
      background-color: #2b2d33;
      color: #fff;
      border-radius: 10rem;
      padding: 0.5rem;
      line-height: 0;
      .burger-close {
        display: none;
      }
    }
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--mobile-menu-active {
    .header__block {
      border-radius: 1.25rem 1.25rem 0 0;
      background: #f2f2f2;
    }
    .header__burger .burger-close {
      display: block;
    }
    .header__burger .burger-menus {
      display: none;
    }
    .header__mobile-menu {
      display: flex;
    }
  }
  &__mobile-menu {
    display: none;
    flex-direction: column;
    gap: 2.75rem;
    position: absolute;
    background-color: #f2f2f2;
    top: 3.48rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    &-phone {
      display: block;
      padding: 0.75rem;
      border-radius: 100rem;
      background-color: #52ae32;
      color: #fff;

      font-family: "TikTok", sans-serif;
      font-weight: 900;
      font-size: 0.75rem;
      line-height: 0.75rem;
      text-transform: uppercase;
      color: #fff;
    }
    &-address {
      font-family: "TikTok", sans-serif;
      font-weight: 530;
      font-size: 1.0625rem;
      line-height: 1.02rem;
      letter-spacing: -0.03em;
      color: #1d1d20;
    }
    &-list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          font-family: "TikTok", sans-serif;
          font-weight: 530;
          font-size: 1.5rem;
          line-height: 1.755rem;
          letter-spacing: -0.01em;
          color: #1d1d20;
          a {
          }
        }
      }
    }
    &-socials {
      display: flex;
      gap: 1rem;
      .icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
