extends ../layout/app
block title
  | День рождения
block styles
  link(rel="stylesheet", href="./css/blocks/main-menu.min.css")
  link(rel="stylesheet", href="./css/blocks/main-prices.min.css")
  link(rel="stylesheet", href="./css/blocks/main-contacts.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-banner.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-park.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-tema-room.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-anim.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-gives.min.css")
  link(rel="stylesheet", href="./css/blocks/faq.min.css")
  link(rel="stylesheet", href="./css/blocks/b-day-form.min.css")
block script
block page
  include ../chunk/header
  main
    include ../blocks/b-day-banner
    include ../blocks/b-day-park
    include ../blocks/b-day-tema-room
    include ../blocks/b-day-anim
    include ../blocks/b-day-gives
    include ../blocks/b-day-prices
    include ../blocks/b-day-form
    include ../blocks/main-contacts
    include ../blocks/faq
  include ../chunk/footer