@import "./service/fonts.scss";
@import "./service/media-mixin.scss";
@import "./service/reset.scss";

html {
  font-size: calc(16 * 100vw / 1920);
  @include max-lg {
    font-size: calc(16 * 100vw / 375);
  }
  scroll-behavior: smooth;
}

main {
  min-height: 60vh;
  position: relative;
}
body {
  background-color: #f2f2f2;
  color: #1d1d20;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-container {
  max-width: 105rem;
  margin: 0 auto;
  @include max-lg {
    max-width: 21.4375rem;
  }
}

.c-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  h2 {
    font-family: "TikTok", sans-serif;
    font-weight: 830;
    font-size: 8.125rem;
    line-height: 6.8125rem;
    letter-spacing: -0.04em;
    color: #1d1d20;
    @include max-lg {
      font-weight: 600;
      font-size: 2.75rem;
      line-height: 2.41rem;
      letter-spacing: -0.113em;
    }
  }
  &__arrows {
    display: flex;
    gap: 1.5rem;
    @include max-lg {
      display: none;
    }
  }
  &__arrow {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 10rem;
    background-color: #2b2d33;
    line-height: 0;
    color: #fff;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #98e51c;
      @include max-lg {
        background-color: #2b2d33;
      }
    }
    .icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    &.swiper-button-disabled {
      background-color: #b7bbbe;
      color: #fff;
    }
    &--prev {
    }
    &--next {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

.c-description {
  width: 62.5rem;
  @include max-lg {
    width: 100%;
  }
  * {
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.755rem;
    color: #1d1d20;
    @include max-lg {
      font-size: 0.875rem;
      line-height: 1.12775rem;
    }
  }
  p {
    margin-bottom: 1rem;
    @include max-lg {
      margin-bottom: 0.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.swiper-pagination {
  display: none;
  @include max-lg {
    display: block;
    position: static;
    line-height: 0;
    margin-top: 1rem;
    .swiper-pagination-bullet {
      width: 0.75rem;
      height: 0.75rem;
      margin: 0 0.125rem;
      background: #e6e6e6;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #2b2d33;
      border: 0.0625rem solid #e6e6e6;
    }
  }
}
.c-social {
  display: block;
  line-height: 0;
  border-radius: 10rem;
}

.accient-title {
  display: inline;
  color: #98e51c;
}

.button {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  &--large {
    font-family: "TikTok", sans-serif;
    font-weight: 950;
    font-size: 1.75rem;
    line-height: 1.25rem;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    border-radius: 1rem;
    @include max-lg {
      font-family: "TikTok", sans-serif;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: -0.03em;
    }
  }
  &--solid {
    color: #1d1d20;
    background-color: #98e51c;
    padding: 2.25rem 2rem;
    @include max-lg {
      padding: 1.5rem;
    }
    &:hover {
      background-color: #1d1d20;
      color: #98e51c;
      @include max-lg {
        color: #1d1d20;
        background-color: #98e51c;
      }
    }
  }

  &--outline {
    color: #1d1d20;
    border: 0.25rem solid #1d1d20;
    background-color: transparent;
    padding: 2rem 1.75rem;
    letter-spacing: -0.04em;
    @include max-lg {
      padding: 1.5rem;
      border: 0.125rem solid #1d1d20;
    }
    &:hover {
      color: #fff;
      background-color: #1d1d20;
      @include max-lg {
        color: #1d1d20;
        background-color: transparent;
      }
    }
  }
}

form {
  input {
    border: 0.0625rem solid #e8e8e2;
    border-radius: 1.25rem;
    padding: 1.9rem 2rem;

    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.755rem;
    color: #999ead;
    @include max-lg {
      padding: 1.465rem 2rem;
      border-radius: 1.25rem;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}

.btn_shine {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.btn_shine:hover:after {
  opacity: 1;
  top: -110%;
  left: 60%;
  transition-property: left, top, opacity;
  transition-duration: 1.3s, 1.3s, 0.18s;
  transition-timing-function: ease;
}

.btn_shine::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.breadcrumbs {
  position: absolute;
  z-index: 1;
  top: 9.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  gap: 0.75rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  display: flex;
  @include max-lg {
    padding-left: 1rem;
    padding-right: 1rem;
    top: 6rem;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  &__item {
    a {
      color: #e6e6e6;
    }
    span {
      color: #fff;
    }
  }
  &__slash {
    color: #e6e6e6;
  }
}

@import "./chunk/header.scss";
@import "./chunk/footer.scss";
@import "./chunk/page-loader.scss";

//@import "./pages/contacts.scss";
//@import "./pages/news.scss";
//@import "./pages/news-detail.scss";
//@import "./pages/catalog.scss";
//@import "./pages/catalog-detail-1.scss";
//@import "./pages/catalog-detail-2.scss";
//@import "./pages/catalog-detail.scss";
