.page-loader
    .spinner
footer.footer.c-container
    .footer__image
        img(src="./img/footer.svg", alt="")
    .footer__image-mobile
        img(src="./img/footer-mobile.svg", alt="")
    .footer__left
        a(href="#").footer__logo
            img(src="./img/logo.svg", alt="logo")
        nav.footer__menu
            ul
                li
                    a(href="#") О компании
                li
                    a(href="#") Кафе
                li
                    a(href="#") Новости
                li
                    a(href="#") Афиша
                li
                    a(href="#") Контакты
                li
                    a(href="#") День рождения
                li
                    a(href="#") Услуги
                li
                    a(href="#") Парк развлечений
                li
                    a(href="#") Акции
                li
                    a(href="#") Цены
    .footer__right
        .footer__contacts
            .footer__socials
                a(href="#").c-social.btn_shine
                    +icon("telegram")
                a(href="#").c-social.btn_shine
                    +icon("vk")
            a(href="tel: +7 903 467-55-57").footer__phone.btn_shine +7 903 467-55-57
        .footer__links
            a(href="#").footer__link.btn_shine Политика конфиденциальности
            a(href="#").footer__link.footer__link-pr.btn_shine Дизайн и разработка — PR-Volga