include ../chunk/components/icon

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")
    meta(name="robots" content="noindex, nofollow")
    title 
      block title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css")
    link(rel="stylesheet", href="./libs/hystmodal.min.css")
    link(rel="stylesheet", href="./css/main.min.css")
    block styles
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
  body
    block page
    block script
    script(src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js")
    script(src="https://unpkg.com/imask")
    script(src="./libs/hystmodal.min.js")
    script(src="js/common.js")
