.b-day-anim {
  padding-top: 11.25rem;
  padding-bottom: 4rem;
  &__title {
    margin-bottom: 2rem;
  }
  &__slider {
    margin: 0 -7.5rem;
    margin-top: 5.4375rem;
    .swiper-slide {
      width: auto;
    }
  }
  &__card {
    width: 46.0625rem;
    height: 34.9375rem;
    border-radius: 4rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
