@import "../service/media-mixin.scss";

.b-day-form {
  position: relative;
  padding: 12.5rem 0;
  padding-top: 9.4rem;
  @include max-lg {
    padding-top: 5.5rem;
    padding-bottom: 2.75rem;
  }
  &__image {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    img {
      width: 100%;
    }
    @include max-lg {
      display: none;
    }
    &-mobile {
      display: none;
      @include max-lg {
        display: block;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  &__form {
    position: relative;
    z-index: 1;
    border: 1px solid #e8e8e2;
    background-color: #fff;
    border-radius: 4rem;
    padding: 2.5rem;
    @include max-lg {
      padding: 1.5rem;
      border-radius: 2.5rem;
    }
    &-title {
      margin-bottom: 1rem;
      @include max-lg {
        margin-bottom: 0.75rem;
      }
      h2 {
        font-family: "TikTok", sans-serif;
        font-weight: 950;
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -0.043em;
        text-transform: uppercase;
        color: #1d1d20;
        @include max-lg {
          font-size: 1.875rem;
          line-height: 1.8375rem;
          letter-spacing: -0.05em;
        }
      }
    }
    &-description {
      font-family: "Golos", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.755rem;
      color: #2b2d33;
      @include max-lg {
        font-size: 0.875rem;
        line-height: 1.12875rem;
      }
    }
    &-form {
      margin-top: 3.75rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      @include max-lg {
        margin-top: 1.5rem;
        gap: 0.625rem;
      }
      input,
      button {
        width: calc(50% - 0.75rem);
        @include max-lg {
          width: 100%;
        }
      }
      .button {
        @include max-lg {
          margin-top: 0.375rem;

          font-family: "TikTok", sans-serif;
          font-weight: 950;
          font-size: 1.25rem;
          line-height: 1.25rem;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          color: #1d1d20;
        }
      }
    }
  }
}
