.b-day-banner {
  position: relative;
  height: 57.0625rem;
  &__under-title {
    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 111%;
    color: #fff;
  }
  &__title {
    h1 {
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 6.05rem;
      color: #fff;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 47rem;
    padding-top: 13.5rem;
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  &__wrap {
    &-title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__price {
    font-family: "TikTok", sans-serif;
    font-weight: 530;
    font-size: 4.5rem;
    line-height: 3.78rem;
    letter-spacing: -0.04em;
    color: #fff;
  }
  &__button {
    display: flex;
    justify-content: flex-start;
    .button {
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
