.b-day-tema-room {
  position: relative;
  padding: 6.25rem 0;
  &__title {
    margin-bottom: 2rem;
    h2 {
      color: #fff;
    }
  }
  &__description {
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.755rem;
    color: #fff;
    margin-bottom: 2rem;
    width: 62.5rem;
  }
  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  &__image {
    height: 37.5rem;
    border-radius: 4rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }
}
