@import "../service/media-mixin.scss";

.b-day-banner {
  position: relative;
  height: 57.0625rem;
  line-height: 0;
  @include max-lg {
    height: 50.8rem;
  }
  &__under-title {
    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.4975rem;
    color: #fff;
    @include max-lg {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  &__title {
    h1 {
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 6.05rem;
      letter-spacing: -0.07em;
      color: #fff;
      @include max-lg {
        font-size: 3rem;
        line-height: 2.85rem;
        letter-spacing: -0.065em;
      }
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    width: 47rem;
    padding-top: 12.9rem;
    @include max-lg {
      padding-top: 10.5rem;
      width: 100%;
      gap: 3.5rem;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.56rem;
    }
  }
  &__wrap {
    &-title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include max-lg {
        gap: 1.5rem;
      }
    }
  }
  &__price {
    position: relative;
    font-family: "TikTok", sans-serif;
    font-weight: 530;
    font-size: 4.5rem;
    line-height: 3.78rem;
    letter-spacing: -0.075em;
    color: #fff;
    &-sprite {
      position: absolute;
      top: 50%;
      left: -2rem;
      transform: translate(0, -50%);
      z-index: -1;
      width: 20.8125rem;
      img {
        width: 100%;
      }
      @include max-lg {
        width: 12.625rem;
        left: -1rem;
      }
    }
    @include max-lg {
      font-size: 2.75rem;
      line-height: 2.3925rem;
      letter-spacing: -0.07em;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-start;
    .button {
      padding: 2rem 2rem;
      letter-spacing: -0.04em;
      @include max-lg {
        padding: 1.5rem 1.25rem;

        font-family: "TikTok", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.25rem;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #1d1d20;
      }
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &-img {
      height: 100%;
    }
    &-persons {
      position: absolute;
      right: 3.0625rem;
      bottom: 0;
      width: 58%;
    }
    &-stars {
      height: 100%;
      object-fit: contain;
    }
    &-mobile {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
      @include max-lg {
        display: block;
      }
    }
    @include max-lg {
      display: none;
    }
  }
}
