.b-day-form {
  position: relative;
  padding: 12.5rem 0;
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__form {
    position: relative;
    z-index: 1;
    border: 1px solid #e8e8e2;
    background-color: #fff;
    border-radius: 4rem;
    padding: 2.5rem;
    &-title {
      margin-bottom: 1rem;
      h2 {
        font-family: "TikTok", sans-serif;
        font-weight: 950;
        font-size: 4rem;
        line-height: 4rem;
        text-transform: uppercase;
        color: #1d1d20;
      }
    }
    &-description {
      font-family: "Golos", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.755rem;
      color: #2b2d33;
    }
    &-form {
      margin-top: 3.75rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      * {
        width: calc(50% - 0.75rem);
      }
    }
  }
}
