@import "../service/media-mixin.scss";

.b-day-banner {
  position: relative;
  height: 57.0625rem;
  &__under-title {
    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.4975rem;
    color: #fff;
    @include max-lg {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  &__title {
    h1 {
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 6.05rem;
      color: #fff;
      @include max-lg {
        font-size: 3rem;
        line-height: 2.85rem;
        letter-spacing: -0.03em;
      }
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 47rem;
    padding-top: 13.5rem;
    @include max-lg {
      padding-top: 10.5rem;
      width: 100%;
      gap: 3.5rem;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  &__wrap {
    &-title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include max-lg {
        gap: 1.5rem;
      }
    }
  }
  &__price {
    font-family: "TikTok", sans-serif;
    font-weight: 530;
    font-size: 4.5rem;
    line-height: 3.78rem;
    letter-spacing: -0.04em;
    color: #fff;
    @include max-lg {
      font-size: 2.75rem;
      line-height: 2.3925rem;
      letter-spacing: -0.05em;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-start;
    .button {
      @include max-lg {
        padding: 1.5rem 1.25rem;
        font-family: "TikTok", sans-serif;
        font-weight: 950;
        font-size: 1.25rem;
        line-height: 1.25rem;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #1d1d20;
      }
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-mobile {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
      @include max-lg {
        display: block;
      }
    }
    @include max-lg {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
