.b-day-gives {
  padding: 5.5rem 0;
  &__title {
    margin-bottom: 3rem;
  }
  &__cards {
    display: flex;
    gap: 0.5rem;
  }
  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
    padding: 2rem;
    width: 34.625rem;
    height: 24.125rem;
    &--1 {
      background-color: #fbddea;
      border: 0.125rem solid #ffb4d4;
    }
    &--2 {
      background-color: #c8ff70;
      border: 0.125rem solid #a6d934;
    }
    &--3 {
      background-color: #caf4ff;
      border: 0.125rem solid #8cd3e6;
    }
    &-title {
      font-family: "TikTok", sans-serif;
      font-weight: 630;
      font-size: 2.75rem;
      line-height: 2.64rem;
      letter-spacing: -0.04em;
      color: #1d1d20;
    }
    &-image {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0;
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      line-height: 0;
    }
  }
}
