@import "../service/media-mixin.scss";

.b-day-anim {
  padding-top: 11.25rem;
  padding-bottom: 4rem;
  @include max-lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &__title {
    margin-bottom: 2rem;
    h2 {
      @include max-lg {
        font-family: "TikTok", sans-serif;
        font-weight: 530;
        font-size: 2.75rem;
        line-height: 2.3925rem;
        letter-spacing: -0.06em;
        color: #1d1d20;
      }
    }
  }
  &__slider {
    margin: 0 -7.5rem;
    margin-top: 1.0075rem;
    @include max-lg {
      margin: 0 -1rem;
      margin-top: -1rem;
      margin-bottom: -2rem;
    }
    .swiper-slide {
      width: auto;
      &:nth-child(2n + 1) {
        .b-day-anim__card {
          transform: rotate(-6deg);
        }
      }
      &:nth-child(2n) {
        .b-day-anim__card {
          transform: rotate(6deg);
          @include max-lg {
            transform: rotate(9deg);
          }
        }
      }
    }
    .swiper-wrapper {
      padding: 4rem 0;
      @include max-lg {
        padding: 3rem 0;
      }
    }
  }
  &__card {
    width: 46.0625rem;
    height: 34.9375rem;
    border-radius: 4rem;
    overflow: hidden;
    box-shadow: 0 5px 23px 0 rgba(54, 54, 54, 0.22);
    @include max-lg {
      border-radius: 1.5rem;
      width: 8.125rem;
      height: 6.1875rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
