@import "../service/media-mixin.scss";

.b-day-uslugi {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 4rem;
  &__title {
    margin-bottom: 2rem;
    h2 {
      color: #fff;
    }
  }
  .c-description {
    margin-bottom: 3rem;
    * {
      color: #fff !important;
    }
  }
  &__arrows {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  &__slide {
    margin: 0 -7rem;
    @include max-lg {
      margin: 0 -1rem;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-pagination {
      display: none;
      @include max-lg {
        display: block;
      }
    }
  }
  &__personages {
    position: absolute;
    z-index: 0;
    top: -5.625rem;
    right: -12.625rem;
    width: 65.75rem;
    height: 65.75rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__image {
    position: absolute;
    z-index: -1;
    top: -3.75rem;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0%);
    @include max-lg {
      display: none;
    }

    &-mobile {
      display: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      width: 100vw;
      transform: translate(-50%, 0%);
      @include max-lg {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
