.b-day-park {
  &__title {
    margin-bottom: 3.75rem;
  }
  &__slide {
    margin: 0 -7.5rem;
    .swiper-slide {
      width: auto;
    }
  }
  &__card {
    position: relative;
    padding: 2rem 2.8125rem;
    width: 105rem;
    &-title {
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #1d1d20;
      margin-bottom: 3.0625rem;
    }
    &-description {
      width: 50.875rem;
      font-family: "Golos", sans-serif;
      font-weight: 500;
      font-size: 2.25rem;
      line-height: 2.4975rem;
      color: #1d1d20;
    }
    &-images {
      display: flex;
    }
    &-image {
      position: relative;
      flex-shrink: 0;
      width: 38.4375rem;
      height: 34.875rem;
      border-radius: 4rem;
      overflow: hidden;
      &-1 {
      }
      &-2 {
        margin-left: -3.125rem;
        margin-right: -11.875rem;
        z-index: 1;
      }
      &-3 {
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
}
