@import "../service/media-mixin.scss";

.faq {
  padding: 6.25rem 0;
  @include max-lg {
    padding: 2rem 0;
  }
  &__title {
    margin-bottom: 3rem;
    h2 {
      @include max-lg {
        letter-spacing: -0.09em;
      }
    }
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__block {
    border-radius: 4rem;
    padding: 1.875rem 2.5rem;
    background-color: #fff;
    @include max-lg {
      padding: 1.5rem;
      border-radius: 2.75rem;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      font-family: "TikTok", sans-serif;
      font-weight: 630;
      font-size: 3rem;
      line-height: 2.52rem;
      letter-spacing: -0.067em;
      color: #1d1d20;
      cursor: pointer;

      -webkit-tap-highlight-color: transparent; /* мобильные */
      user-select: none;
      @include max-lg {
        font-weight: 430;
        font-size: 1.5rem;
        line-height: 1.44rem;
        letter-spacing: -0.066em;
      }
    }
    &-icon {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0.75rem;
      border-radius: 10rem;
      background-color: #2b2d33;
      color: #fff;
      line-height: 0;
      @include max-lg {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
      }
      .icon {
        width: 2rem;
        height: 2rem;
        @include max-lg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    &-content {
      padding-top: 1.5rem;
      font-family: "Golos", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.755rem;
      color: #2b2d33;

      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 0.4s ease, opacity 0.25s ease;

      @include max-lg {
        font-size: 0.875rem;
        line-height: 1.12875rem;
      }
    }
    &--active {
      .faq__block-content {
        display: block;
      }
      .faq__block-icon .icon {
        transform: rotate(45deg);
      }
    }
  }
}
