@import "../service/media-mixin.scss";

.main-banner {
  height: 57.0625rem;
  position: relative;
  padding-bottom: 3rem;
  @include max-lg {
    height: 50.8125rem;
    padding-bottom: 0;
  }
  .c-container {
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @include max-lg {
      height: auto;
      padding-top: 10.5rem;
    }
  }
  &__under-title {
    font-family: "TikTok", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.04rem;
    letter-spacing: -0.03em;
    color: #1d1d20;
    background: #98e51c;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1.8125rem;

    @include max-lg {
      padding: 0.5rem 0.75rem;
      margin-bottom: 0.75rem;
      border-radius: 10rem;

      font-family: "TikTok", sans-serif;
      font-weight: 630;
      font-size: 0.75rem;
      line-height: 0.765rem;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
  }
  &__title {
    &-content {
      position: relative;
      z-index: 2;
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 96%;
      color: #fff;

      @include max-lg {
        font-size: 3rem;
        line-height: 2.875rem;
        letter-spacing: -0.03em;
      }
    }
    &-shadow {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 96%;
      color: unset;

      @include max-lg {
        font-size: 3rem;
        line-height: 2.875rem;
        letter-spacing: -0.03em;

        top: 0.0625rem;
        left: 0.25rem;
      }
      /* убираем внутреннюю заливку */
      -webkit-text-fill-color: transparent; /* для WebKit / Blink */
      color: transparent; /* на всякий случай */

      /* обводка */
      -webkit-text-stroke-width: 0.25rem;
      -webkit-text-stroke-color: #98e51c; /* или shorthand: -webkit-text-stroke: 2px #000; */

      @include max-lg {
        -webkit-text-stroke-width: 0.125rem;
      }
      /* опционально: чтобы сохранить сглаживание */
      -webkit-font-smoothing: antialiased;
    }
    &-1 {
      position: relative;
    }
    &-2 {
      position: relative;
      margin-left: 8.75rem;
      @include max-lg {
        margin-left: 4.6875rem;
      }
    }
  }

  &__cards {
    position: relative;
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    @include max-lg {
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 14.5rem;
      &::after {
        position: absolute;
        content: "";
        bottom: -0.25rem;
        left: -1rem;
        width: 23.4375rem;
        height: 12.75rem;
        background: linear-gradient(
          180deg,
          rgba(242, 242, 242, 0) 0%,
          rgba(242, 242, 242, 0.89) 55%,
          #f2f2f2 100%
        );
        z-index: -1;
      }
    }
  }
  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 20.5625rem;
    height: 14.5rem;
    backdrop-filter: blur(0.3rem);
    @include max-lg {
      width: 10.4375rem;
      height: 5.5rem;
      padding: 0.625rem;
      border-radius: 0.75rem;
    }
    .main-banner__card-image {
      img {
        width: 100%;
      }
    }
    &--1 {
      border: 0.125rem solid #ffb4d4;
      background: #fbddea;
      .main-banner__card-image {
        width: 11rem;
        @include max-lg {
          width: 4rem;
        }
      }
    }
    &--2 {
      border: 0.125rem solid #8cd3e6;
      background: #caf4ff;
      .main-banner__card-image {
        width: 10rem;
        @include max-lg {
          width: 5rem;
        }
      }
    }
    &--3 {
      border: 0.125rem solid #ff9446;
      background: #ffa05b;
      .main-banner__card-image {
        width: 11rem;
        @include max-lg {
          width: 5rem;
          bottom: -0.5rem;
        }
      }
    }
    &--4 {
      border: 0.125rem solid #c7b4ff;
      background: #d6bcfa;
      .main-banner__card-image {
        width: 12rem;
        @include max-lg {
          width: 5rem;
        }
      }
    }
    &--5 {
      border: 0.125rem solid #a6d934;
      background: #c8ff70;
      .main-banner__card-image {
        width: 14rem;
        @include max-lg {
          width: 6rem;
        }
      }
    }
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      font-family: "TikTok", sans-serif;
      font-weight: 730;
      font-size: 2.5rem;
      line-height: 96%;
      letter-spacing: -0.03em;
      color: #1d1d20;
      @include max-lg {
        font-size: 1.0625rem;
        letter-spacing: -0.03em;
      }
    }
    &-arrow {
      flex-shrink: 0;
      border-radius: 2rem;
      padding: 0.75rem;
      width: 2.75rem;
      height: 2.75rem;
      background: #1d1d20;
      color: #fff;
      line-height: 0;
      @include max-lg {
        width: 1.125rem;
        height: 1.125rem;
        padding: 0.25rem;
      }
      .icon {
        width: 1.25rem;
        height: 1.25rem;
        @include max-lg {
          width: 0.625rem;
          height: 0.625rem;
        }
      }
    }
    &-image {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      line-height: 0;
    }
    &-bg {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(18, 17, 17, 0.58);
    }
  }
}
