@import "../service/media-mixin.scss";

.main-bday {
  position: relative;
  height: 61.875rem;
  @include max-lg {
    height: auto;
    padding-top: 6.25rem;
    padding-bottom: 2rem;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include max-lg {
      display: none;
    }
    &-mobile {
      display: none;
      @include max-lg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
          width: 100%;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    gap: 1.5rem;
    padding: 6.25rem 0;
    @include max-lg {
      flex-direction: column;
      padding: 0;
    }
    &-text {
      padding-left: 3.75rem;
      padding-right: 8.1875rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include max-lg {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &-title {
      margin-bottom: 2rem;
      @include max-lg {
        margin-bottom: 1rem;
      }
      h2 {
        font-family: "TikTok", sans-serif;
        font-weight: 950;
        font-size: 6rem;
        line-height: 5.25rem;
        letter-spacing: -0.078em;
        color: #fff;
        @include max-lg {
          font-size: 1.875rem;
          line-height: 1.8125rem;
          letter-spacing: -0.08em;
        }
      }
    }
    &-description {
      font-family: "Golos", sans-serif;
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 2rem;
      color: #1d1d20;
      @include max-lg {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    &-button {
      margin-top: 3.75rem;
      display: flex;
      justify-content: flex-start;
      .button {
        line-height: 1.75rem;
        letter-spacing: 0.06em;
      }
      @include max-lg {
        margin-top: 2rem;
        .button {
          padding: 1.375rem 3.25rem;
          font-size: 1.25rem;
          line-height: 1.25rem;
          letter-spacing: -0.05em;
          text-transform: uppercase;
        }
      }
    }
    &-phone {
      position: relative;
      flex-shrink: 0;
      width: 29.0625rem;
      height: 49.375rem;
      padding: 1.5rem;
      border-radius: 4rem;
      background-color: #fff;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2.5rem;
        @include max-lg {
          border-radius: 1.5rem;
        }
      }
      &-play {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.25rem;
        height: 4.25rem;
        padding: 0.625rem;
        background-color: rgba(43, 45, 51, 0.48);
        border-radius: 100rem;
        color: #fff;
        .icon {
          width: 2rem;
          height: 2rem;
        }
      }
      @include max-lg {
        width: 100%;
        height: 36.125rem;
        border-radius: 2rem;
        padding: 1rem;
        padding-bottom: 0.871875rem;
      }
    }
  }
}
