@import "../service/media-mixin.scss";

.main-park {
  padding: 3rem 0;
  &__title {
    margin-bottom: 4rem;
    @include max-lg {
      margin-bottom: 1.9rem;
    }
  }
  &__slider {
    @include max-lg {
      margin: 0 -1rem;
    }
    .swiper-slide {
      width: auto;
    }
    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 0.5rem;
      @include max-lg {
        flex-wrap: unset;
        gap: 0;
      }
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25.875rem;
    height: 25.4375rem;
    border-radius: 4rem;
    padding: 2rem;
    overflow: hidden;
    @include max-lg {
      border-radius: 2rem;
      padding: 1rem;
      width: 11.5rem;
      height: 15.25rem;
    }
    &-image {
      position: absolute;
      left: 2rem;
      top: 2rem;
      width: 15.1875rem;
      height: 15.1875rem;
      transition: all 0.5s ease;
      @include max-lg {
        width: 8rem;
        height: 8rem;
        top: 1rem;
        left: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100rem;
      }
    }
    &-title {
      position: absolute;
      bottom: 2rem;
      z-index: 2;
      font-family: "Golos", sans-serif;
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.875rem;
      text-transform: uppercase;
      color: #fff;
      @include max-lg {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: -0.06em;
        bottom: 1rem;
      }
    }

    &:hover {
      @include lg {
        position: relative;
        justify-content: flex-end;
        .main-park__card-image {
          position: absolute;
          left: -3.75rem;
          top: -3.75rem;
          width: 130%;
          height: 130%;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 11.3125rem;
          background: linear-gradient(
            180deg,
            rgba(29, 29, 32, 0) 0%,
            rgba(29, 29, 32, 0.57) 26.92%,
            rgba(29, 29, 32, 0.78) 52.88%,
            #1d1d20 90.87%
          );
        }
      }
    }
    &--1 {
      background-color: #ff62d0;
    }
    &--2 {
      background-color: #f1662c;
    }
    &--3 {
      background-color: #71b6d1;
    }
    &--4 {
      background-color: #fbd621;
    }
    &--5 {
      background-color: #71b6d1;
    }
    &--6 {
      background-color: #fbd621;
    }
    &--7 {
      background-color: #ff62d0;
    }
    &--8 {
      background-color: #f1662c;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    @include max-lg {
      margin-top: 2rem;
      .button {
        width: 100%;
        padding: 1.5rem;
        line-height: 1.25rem;
        letter-spacing: -0.05em;
      }
    }
  }
}
