@import "../service/media-mixin.scss";

.main-uslugi {
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  @include max-lg {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__image {
    position: absolute;
    z-index: -1;
    top: -1.8rem;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0%);
    @include max-lg {
      display: none;
    }

    &-mobile {
      display: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      width: 100vw;
      transform: translate(-50%, 0%);
      @include max-lg {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 3.75rem;
    @include max-lg {
      margin-bottom: 2.5rem;
    }
    h2 {
      color: #fff;
    }
  }
  &__slide {
    margin: 0 -7.5rem;
    @include max-lg {
      margin: 0 -1rem;
    }
    .swiper-slide {
      width: auto;
      height: auto;
    }
    .swiper-pagination {
      display: none;
      @include max-lg {
        display: block;
      }
    }
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 34.0625rem;
    height: 100%;
    padding: 1.85rem;
    padding-bottom: 2.5rem;
    border-radius: 4rem;
    border: 2px solid #eee;
    background-color: #fff;
    overflow: hidden;

    transition: all 0.3s ease;
    &:hover {
      .main-uslugi__card-bg {
        opacity: 0;
      }
      .main-uslugi__card-name,
      .main-uslugi__card-description {
        color: #fff;
      }
    }
    @include max-lg {
      width: 17.875rem;
      padding: 1rem;
      padding-top: 1.25rem;
      padding-bottom: 1.75rem;
      border-radius: 2rem;
      background-color: #fff;
      border: none !important;
    }
    &--1 {
      border: 2px solid #ff9446;
      background-color: #fff;
      &:hover {
        background-color: #f1662c;
      }
    }
    &--2 {
      border: 2px solid #ffb4d4;
      background-color: #ffd5e7;
      &:hover {
        background-color: #e5005b;
      }
    }
    &--3 {
      border: 2px solid #8cd3e6;
      background-color: #fff;
      &:hover {
        background-color: #008acc;
      }
    }
    &--4 {
      border: 2px solid #a6d934;
      background-color: #fff;
      &:hover {
        background-color: #52ae32;
      }
    }
    &--5 {
      border: 2px solid #7be5cc;
      background-color: #fff;
      &:hover {
        background-color: #0dc499;
      }
    }
    &--6 {
      border: 2px solid #c7b4ff;
      background-color: #fff;
      &:hover {
        background-color: #995ea3;
      }
    }
    &-bg {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: opacity 0.3s ease;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-image {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 31rem;
      margin-bottom: 1.5rem;
      border-radius: 2.375rem;
      overflow: hidden;
      @include max-lg {
        height: 14.625rem;
        margin-bottom: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {
      position: relative;
      z-index: 1;

      font-family: "TikTok", sans-serif;
      font-weight: 630;
      font-size: 43px;
      line-height: 96%;
      letter-spacing: -0.043em;

      color: #1d1d20;
      margin-bottom: 0.5rem;
      @include max-lg {
        font-size: 2rem;
        line-height: 1.92rem;
        letter-spacing: -0.08em;
      }
    }
    &-description {
      position: relative;
      z-index: 1;
      font-family: "Golos", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: #1d1d20;
      @include max-lg {
        font-size: 0.875rem;
        line-height: 1.13rem;
      }
    }
  }
}
