@import "../service/media-mixin.scss";

.uslugi-cards {
  padding-top: 3.5rem;
  padding-bottom: 4.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 0.5rem;
  @include max-lg {
    padding-top: 2rem;
    padding-bottom: 1rem;
    gap: 0.75rem;
  }
  .main-uslugi__card {
    width: 34.0625rem;
    @include max-lg {
      padding: 0.875rem;
      padding-top: 1rem;
      min-height: 25.5625rem;
    }
    &--1 {
      @include max-lg {
        border: 0.125rem solid #ff9446 !important;
      }
    }
    &--2 {
      @include max-lg {
        border: 0.125rem solid #ffb4d4 !important;
      }
    }
    &--3 {
      @include max-lg {
        border: 0.125rem solid #8cd3e6 !important;
      }
    }
    &--4 {
      @include max-lg {
        border: 0.125rem solid #a6d934 !important;
      }
    }
    &--5 {
      @include max-lg {
        border: 0.125rem solid #7be5cc !important;
      }
    }
    &--6 {
      @include max-lg {
        border: 0.125rem solid #c7b4ff !important;
      }
    }
  }
  .main-uslugi__card-image {
    border-radius: 1.5rem;
  }
}
