@import "../service/media-mixin.scss";

.uslugi-banner {
  position: relative;
  height: 57.0625rem;
  line-height: 0;
  @include max-lg {
    height: 50.8rem;
  }
  &__title {
    h1 {
      font-family: "TikTok", sans-serif;
      font-weight: 950;
      font-size: 6.875rem;
      line-height: 6.05rem;
      letter-spacing: -0.03em;
      color: #fff;
      @include max-lg {
        font-weight: 900;
        font-size: 3rem;
        line-height: 2.85rem;
        letter-spacing: -0.03em;
      }
    }
  }
  &__under-title {
    font-family: "TikTok", sans-serif;
    font-weight: 430;

    font-size: 2rem;
    line-height: 2.06rem;
    letter-spacing: -0.021em;
    text-transform: uppercase;

    color: #1d1d20;
    background: #98e51c;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1.9rem;

    @include max-lg {
      padding: 0.5rem 0.75rem;
      margin-bottom: 0.75rem;
      border-radius: 0.5rem;

      font-family: "TikTok", sans-serif;
      font-weight: 630;
      font-size: 0.75rem;
      line-height: 0.765rem;
      letter-spacing: -0.1em;
      text-transform: uppercase;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &-img {
      height: 100%;
    }
    &-persons {
      position: absolute;
      z-index: 2;
      right: 9.7rem;
      bottom: -0.5rem;
      width: 47%;
    }
    &-stars {
      height: 100%;
      object-fit: contain;
    }
    &-mobile {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
      @include max-lg {
        display: block;
      }
    }
    @include max-lg {
      display: none;
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding-top: 24.375rem;
    @include max-lg {
      padding-top: 14.25rem;
    }
  }
}
